Tests/testkernel/cache/*
phpunit.xml

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# For travis and autotests
composer.phar
composer.lock

# IDES
.c9revisions
.idea
phpunit.phar
